/* Custom Styles for Restaurant Website */
body {
    font-size: 16px;
    color: #fff;
    background-color: #3c2257; /* Updated background color */
    font-family: 'Oxygen', sans-serif;
}

/* Header Styles */
#header-nav {
    background-color: #ff9a8b; /* Updated background color */
    border-radius: 0;
    border: 0;
}

.navbar-brand {
    padding-top: 20px; /* Adjusted padding */
    padding-bottom: 30px; /* Adjusted padding */
}

.navbar-brand a:hover,
.navbar-brand a:focus {
    text-decoration: none;
}

.navbar-brand h1 {
    font-family: 'Lora', serif;
    color: #1e6f5c; /* Updated color */
    font-size: 1.7em;
    text-transform: uppercase;
    position: relative;
    font-weight: bold;
    text-shadow: 1px 1px 1px #333;
    margin-top: 0;
    margin-bottom: 0;
    line-height: .75;
    padding-bottom: 15px; /* Adjusted padding */
}

#nav-list {
    margin-top: 15px; /* Adjusted margin */
}

#nav-list a {
    color: #8e2f45; /* Updated color */
    text-align: center;
}

.navbar-header button.navbar-toggle,
.navbar-header .icon-bar {
    border: 1px solid #4f1573; /* Updated border color */
}

.navbar-header button.navbar-toggle {
    clear: both;
    margin-top: -30px; /* Adjusted margin */
}

#nav-list li p {
    background: #ff6f69; /* Updated background color */
}

/* Home Page Styles */
#home-tiles .item-text {
    background: #4e4e4e; /* Updated background color */
    padding: 15px; /* Adjusted padding */
}

#home-tiles .item-text p {
    font-size: 1.3em;
    font-weight: 400;
}

/* Media Queries */
@media (max-width: 767px) {
    .navbar-brand {
        padding-top: 5px; /* Adjusted padding */
    }
    .navbar-brand h1 {
        padding-top: 5px; /* Adjusted padding */
        font-size: 5vw; /* Updated font size */
    }

    #collapsable-nav a {
        font-size: 1.1em; /* Adjusted font size */
    }
    #collapsable-nav a span {
        font-size: 0.9em; /* Adjusted font size */
        margin-right: 3px; /* Adjusted margin */
    }

    .menu-item-description {
        text-align: center;
    }
}
